/*-----------------------------------------------------------------------------------
	Styles for HRM Applications
------------------------------------------------------------------------------------*/
html,
body {
  min-height: 100%;
  background: #222;
  font-size: 16px;
}

.form-control[readonly],
input[readonly] {
  cursor: pointer;
  background-color: #fff;
}

.mct_description {
    height: 180px !important;
}

.navbar-brand,
nav ul li a {
  font-size: 18px;
}
.wrap {
  min-height: 100%;
  width: 100%;
  background: #fff;
  padding-top: 50px;
}
.main {
  overflow: auto;
  padding-bottom: 50px;
}
.placeholder {
  min-height: 400px;
}

.no_label_fix {
  margin-top: 27px;
}
table{
  margin-top: 10px; 
}

.count_spacing {
  padding-bottom: 10px;
}

.maintence_table{
  display: block;
  height: 200px;
  overflow-y: scroll;
}

legend {
  padding-top: 15px;
}

textarea{
  height: 100px !important;
}
/*-----------------------------------------------------------------------------------
	header stlyes
------------------------------------------------------------------------------------*/
.navbar {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}
.main_nav {
  z-index: 9999;
}
/*-----------------------------------------------------------------------------------
	home_view styles
------------------------------------------------------------------------------------*/
.home_items .jumbotron {
  height: 250px;
}

.user_info{
  padding: 0 !important;
  border-radius: 6px;
}

.user_form {
  padding-top: 30px;

}

.user_shillouette{
  height: inherit;
}

/*-----------------------------------------------------------------------------------
  Button/input field styles
------------------------------------------------------------------------------------*/
.add_interred,
.return_interred,
.add_SOT,
.return_SOT {
  margin-top: 83px;
}

.add_cemetery_name,
.add_course,
.update_employee,
.add_employee,
.return {
  margin-top: 25px;
}

.add_call_type,
.add_source_type{
  margin-top: 12px;
}

.add_councillor
{
  margin-top: 25px;
}

.bylaw_update_btn{
  border: none;
  border-radius: 0;
  background: transparent;
  color: darkblue;
  width: 100px;
}

.bylaw_update_btn:hover,
.bylaw_update_btn:focus,
.bylaw_update_btn:active{
  color: lightblue;
  text-decoration: underline;
}

label[for="missing"]{
  margin-right: 4px;
}

.survey_categories input[type="checkbox"],
.survey_reuqested input[type="checkbox"] {
  display: block;
  margin-top: 12px;
}

.categories_label {
  position: absolute;
  margin-top: -18px;
  margin-left: 15px;
}

.phonebook_legend {
  padding-top: 10px;
}

.phonebook_search_submit{
  margin-left: 5px;
}

.contact_count,
.count {
  position: absolute;
  margin-top: 4px !important;
}

.readOnlyInputField {
  background-color: #eee !important;
}

/*.surveyor_list
{
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-top-color: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 4px 0px 0px 4px;
  display: table-cell;
  margin-top: -58px
}*/


/*-----------------------------------------------------------------------------------
  App navbar styles
------------------------------------------------------------------------------------*/
.navbar-default {
background-color: #DBDADA;
border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a,
.navbar-brand>a {
  color: #555;
}

.navbar-default .navbar-brand{
  font-weight: bold;
  font-size: 21px
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus {
  color: #000;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000;
  background-color: transparent;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {

  background-color: #222 !important;
  color: #fff;
  background-image: none;
}

.delete_BU {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  display: inline-block;
}

/*-----------------------------------------------------------------------------------
  modal styles
------------------------------------------------------------------------------------*/
#myModal {
  margin-top: 50px;
}

.modal_link, .emp_modal_link, .con_modal_link, .MCT_modal_link, .ASSET_modal_link, .cem_modal_link {
    border: none;
    background: none;
    color: #428bca;
}

.modal_link:hover, .emp_modal_link:hover, .con_modal_link:hover, .MCT_modal_link:hover, .ASSET_modal_link:hover{
     text-decoration: underline;
    color: #2a6496;
}

@media (min-width: 768px) {
  .modal-dialog {
  width: 850px;
  margin: 165px auto;
  }
}

.modal-dialog {
  width: 850px;
  margin: 165px auto;
  }
/*-----------------------------------------------------------------------------------
	footer styles
------------------------------------------------------------------------------------*/
footer {
  bottom: 0;
  position: relative;
  height: 150px;
  width: 100%;
  clear: both;
  padding-top: 20px;
  background-color: #222;
  text-align: center;
}

footer p {
  margin-left: 50px;
  color: #fff;
  font-size: 18px !important;
}
footer .site_map {
  display: none;
  margin-right: 50px;
  margin-top: -37px;
  padding-bottom: 10px;
}
footer .site_map ul {
  list-style-type: none;
  text-align: center;
  margin: -20px 0 0 -34px;
}
footer .site_map legend {
  color: #fff;
  font-size: 18px !important;
}

