@media print {
    @page { 
        size: landscape;
        overflow: hidden !important;

    }
    html, body { 
        writing-mode: tb-rl;
        font-size: 12px;
    }

    .row {
        margin-top: 40px;
        margin-left: 20px;
        float: left;
        page-break-inside: avoid;
    }


}