@media print {
    @page { 
        size: landscape;
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }
    html, body { 
        /*writing-mode: tb-rl;*/
        overflow: hidden !important;
        font-size: 12px;
    }

    .row{
        page-break-inside: avoid;
    }
}